@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  user-select: none;
}

html {
  scroll-behavior: smooth;
  
  letter-spacing: 0.25em;
}

#root {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
}

body {
  line-height: 1;
  background-attachment: fixed;
  background-image: linear-gradient(#004bad, #4218cb88);
}

nav {
  letter-spacing: normal;
}

nav .contact-us-btn a {
  font-size: 0.65em;
  padding: 15px 20px;
}

nav .nav-links a:hover {
  background-color: #1661bd;
}

nav .nav-links a:hover li {
  color: white;
}

nav .contact-btn {
  border: 1px solid white;
}

nav .contact-btn:hover {
  color: black;
  background-color: white;
  transform: scale(110%);
}

.btn-container:hover {
  transform: scale(115%);
}

.apple-btn-style {
  background-color: white;
  color: black;
  letter-spacing: normal;
  transition: 300ms;
}

.apple-btn-style:hover{
  opacity: 70%;
}

.btn-style {
  background-image: linear-gradient(310deg, #004bad50, #4218cb88);
  background-position: left;
  font-family: "Sora", sans-serif;
  letter-spacing: 0.375rem;
}

.btn-style:hover {
  background-color: white;
  color: #4218cb90;
}

.intro-title {
  /* background-image: linear-gradient(
    344deg,
    #004aad 0%,
    rgba(255, 255, 255, 0.561) 100%
  ); */
  background-image: linear-gradient(60deg, #2081ff87, #3d02ff, #4218cb88);
  -webkit-text-fill-color: transparent;
}

.paragraph-info {
  letter-spacing: 0.05em !important;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(0deg, #ffffff 0%, #ffffff 100%);
  -webkit-text-fill-color: transparent;
}

.parking-title {
  background-image: linear-gradient(
    344deg,
    #a762b3 0%,
    rgba(255, 255, 255, 0.561) 100%
  );
}

.achievements-title {
  background-image: linear-gradient(
    344deg,
    #ffb800 0%,
    rgba(255, 255, 255, 0.561) 100%
  );
}

.download-btn {
  border: 1px solid;
  background-image: unset !important;
  background-position: left;
  font-family: "Sora", sans-serif;
  letter-spacing: 0.375rem;
}

.divider {
  padding: 0 0 3px 0;
  width: 15%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10%;
}

.contact-links a:hover {
  transform: translateY(-15px);
}
