@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  user-select: none;
}

html {
  scroll-behavior: smooth;
  /* letter-spacing: 0.25em; */
  /* scroll-snap-type: y proximity; */
  /* scroll-snap-type: y mandatory; */
  scroll-snap-stop: normal;
}

#root {
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
}

body {
  line-height: 1;
  background-attachment: fixed;
  /* background-color: rgb(99 102 241); */
  background-color: #59b5ff;
  z-index: -10;
}

@keyframes zoom-in {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 150% 150%;
  }
}

@keyframes zoom-out {
  0% {
    background-size: 150% 150%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.first-slide {
  background: url("/src/assets/Images/firstSlideBg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

.intro-slide {
  background: url("/Images/streetBg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  animation: zoom-in 5s cubic-bezier(1, 4, 1, -4);
  animation-timeline: View();
  animation-play-state: running;
  -moz-animation-play-state: paused !important;
}

@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    .intro-slide {
      animation: none !important;
    }
  }
}

/* .intro-slide::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/Images/streetBg.jpeg');
  background-size: cover !important;
  background-position: center !important;
  z-index: -1;
} */

@media only screen and (max-width: 1180px) {
  .intro-slide {
    background: none !important;
    /* background: url("/Images/mobileBgFixed.jpeg") fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important; */
  }
  .intro-slide::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/Images/mobileBgFixed.jpeg');
    background-size: cover !important;
    background-position: center !important;
    z-index: -1;
  }
}
/* @media (max-width: 768px) {
  .intro-slide {
    background-size: 200%;
  }
} */

.second-slide {
  background-color: #59b5ff;
  background-attachment: fixed;
}

.pricing-title {
  background-image: linear-gradient(
    344deg,
    #ffb800 20%,
    rgb(255, 255, 255) 100%
  );
  -webkit-text-fill-color: transparent;
}

.our-workflow {
  background-image: linear-gradient(
    15deg,
    #0073ff 20%,
    #d12ceb 80% /* rgba(255, 255, 255, 0.6) 100% */
  );
  -webkit-text-fill-color: transparent;
}

@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 100% 100%);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

@-moz-keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 100% 100%);
  }

  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

@-ms-keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 100% 100%);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

nav {
  letter-spacing: normal;
  z-index: 200;
  transition: all 0.3s ease-in-out;
}

nav .hamburgerBtn:hover ~ nav {
  height: 100%;
}

nav .contact-us-btn a {
  font-size: 0.65em;
  padding: 10px 20px;
}

nav .nav-links a:hover li {
  color: white;
}

nav .contact-btn {
  border: 1px solid white;
}

nav .contact-btn:hover {
  color: black;
  background-color: white;
  transform: scale(110%);
}

nav .carProgress:where([dir="ltr"], [dir="ltr"] *) {
  transform: rotateY(180deg);
}

nav .carProgress:where([dir="rtl"], [dir="rtl"] *) {
  transform: rotateY(0deg);
}

.btn-container:hover {
  transform: scale(115%);
}

.apple-btn-style {
  background-color: white;
  color: black;
  letter-spacing: normal;
  transition: 300ms;
}

.apple-btn-style:hover {
  opacity: 70%;
}

.btn-style {
  background-image: linear-gradient(310deg, #004bad50, #4218cb88);
  background-position: left;
  font-family: "Sora", sans-serif;
  letter-spacing: 0.375rem;
}

.btn-style:hover {
  background-color: white;
  color: #4218cb90;
}

.play-text {
  font-size: 0.7em;
}

/* .introduction::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -10;
} */

.picky-park-title {
  background-image: linear-gradient(
    145deg,
    #a762b3 0%,
    rgba(255, 255, 255, 0.561) 100%
  );
  -webkit-text-fill-color: transparent;
}

.intro-title {
  background-image: linear-gradient(
    344deg,
    #ffb800 0%,
    rgba(255, 255, 255, 0.561) 100%
  );
  -webkit-text-fill-color: transparent;
}

.paragraph-info {
  letter-spacing: 0.05em !important;
  font-family: "Poppins", sans-serif;
}

.parking-title {
  background-image: linear-gradient(
    344deg,
    #a762b3 0%,
    rgba(255, 255, 255, 0.561) 100%
  );
}

.second-dot {
  animation-delay: 0.2s !important;
}

.third-dot {
  animation-delay: 0.3s !important;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.partners-slide {
  bottom: 126px;
}

.owl-stage {
  transform: translate3d(-1527px, 0px, 0px);
  transition: all 0.25s ease 0s;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 auto !important;
}

.owl-carousel {
  /* background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9),
    rgba(0, 0, 0, 0)
  ); */
  /* position: absolute !important; */
  min-height: fit-content !important;
  background-color: rgba(255, 255, 255, 0.5);
  left: 0;
}

.owl-stage-outer {
  width: 100%;
  /* height: 120px; */
  margin: 0 auto !important;
}

.owl-item {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 150px;
  max-width: 100%;
  max-height: 30%;
}

.owl-carousel .owl-item img {
  max-height: 250px;
  max-width: 250px;
}
.owl-theme .owl-dots .owl-dot {
  display: none !important;
}

.achievements-title {
  background-image: linear-gradient(
    344deg,
    #ffb800 0%,
    rgba(255, 255, 255, 0.561) 100%
  );
}

.pricing-container:hover .pricing-item:not(:hover) {
  filter: grayscale(100%);
  opacity: 0.7;
}

.pricing-item:hover {
  .pricing-item:not(:hover) {
    filter: grayscale(100%);
    opacity: 0.7;
  }
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.picky-coins h2 {
  text-shadow: rgba(255, 255, 255, 0.4) 1px 1px 10px;
}

.download-btn {
  border: 1px solid;
  background-image: unset !important;
  background-position: left;
  font-family: "Sora", sans-serif;
  letter-spacing: 0.375rem;
}

.divider {
  padding: 0 0 3px 0;
  width: 15%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10%;
}

.contact-links a:hover {
  transform: translateY(-15px);
}

.footer-info {
  letter-spacing: normal;
  color: white;
  z-index: 100;
  /* background: rgba(0, 0, 0, 0.3); */
  background: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  /* background: rgba(0, 0, 0, 0.3); */
  background: rgba(255, 255, 255, 0.3);
}

.footer-copyright a {
  z-index: 100;
}

.footer-copyright a:hover {
  color: black;
}

.footer-info h3 {
  font-size: 0.7rem;
}

.footer-info .glass {
  background: rgba(0, 0, 0, 0.56);
  border-radius: 70px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.footer-info h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
}

.footer-info ul {
  margin-top: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: left;
}

.footer-info li {
  margin-top: 10px;
  font-weight: 600;
}
